<div class="card-deck">
    <div class="card bg-light mb-3" style="max-width: 15rem;">
        <div class="card-body text-center">
          <p class="card-text display-2">{{ this.numUsersRegistered }}</p>
          <h5 class="card-title">Usuarios Registrados</h5>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 15rem;">
        <div class="card-body text-center">
          <p class="card-text display-2">{{ this.numOrdersRegistered }}</p>
          <h5 class="card-title">Pedidos</h5>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 15rem;">
        <div class="card-body text-center">
          <p class="card-text display-2">{{ this.numCategoriesRegistered }}</p>
          <h5 class="card-title">Categorias</h5>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 15rem;">
        <div class="card-body text-center">
          <p class="card-text display-2">{{ this.numRestaurantsRegistered }}</p>
          <h5 class="card-title">Restaurantes</h5>
        </div>
    </div>
</div>
<div class="chart-deck">
  <div id="chartContainer" class="d-inline-block" style="width: 49%; height: 400px;"></div>
  <div id="chartUserRegistered" class="d-inline-block" style="width: 49%; height: 400px;"></div>
</div>